# Requirements for Hotaru (WhisperX + Ollama)
whisperx        # High-accuracy transcription & alignment
ollama          # Python client for Ollama
streamlit       # GUI framework
moviepy         # Video/Audio processing
srt             # SRT file generation
torch>=2.10.0   # Support for torchcodec
torchvision
torchcodec==0.10.0
pandas          # Required for some whisperx operations
python-dotenv   # Environment variables
psutil          # Hardware monitoring (CPU/RAM)
nvidia-ml-py    # GPU monitoring (replaces pynvml)
opencv-contrib-python==4.12.0.88
opencv-contrib-python-headless==4.12.0.88
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
janome
